/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --bodyBg: #D2E4EE;
    --bodyColor: #0d4a57;
    --bodyFontFamily: 'Quicksand', sans-serif;
    --bodyFontSize: 16px;
    --bodyFontWeight: 400;
    --bodyFontStyle: normal;
    --bodyLineHeight: 1.2;
    --bodyTextTransform: inherit;
    --bodyTextLetterSpacing: inherit;
    --primaryFont: 'Quicksand', sans-serif;
    --secondaryFont: 'Quicksand', sans-serif;
    --pageContainer: 1150px;
    --primaryColor: #D2E4EE;
    --secondaryColor: #C2CCD5;
    --accentColor: #d05165;
    --mutedColor: #0d4a57;
    --fifthColor: #FEC2CA;
    --sixthColor: #110B2F;
    --seventhColor: #FFFFFF;
    --whiteColor: #FFFFFF;
    --blackColor: #000000;
    --transparentColor: transparent;
    --primaryBorder: 1px solid #D2E4EE;
    --secondaryBorder: 1px solid #C2CCD5;
    --accentBorder: 1px solid #d05165;
    --borderRadius: 0;
    --headerBg: #D2E4EE;
    --headerColor: #0d4a57;
    --headerHoverColor: #d05165;
    --headerActiveColor: #0d4a57;
    --headerFontFamily: 'Quicksand', sans-serif;
    --headerFontSize: 16px;
    --headerFontWeight: 400;
    --headerFontStyle: normal;
    --headerLineHeight: 1.2;
    --headerTextTransform: inherit;
    --headerStickyBg: #D2E4EE;
    --headerStickyColor: #0d4a57;
    --headerStickyOpacityPercentage: 0;
    --headerStickyBlur: 0;
    --backToTopColor: #ffffff;
    --backToTopBg: #000000;
    --backToTopBorderColor: #000000;
    --footerBg: #C2CCD5;
    --footerColor: #0d4a57;
    --footerFontFamily: 'Quicksand', sans-serif;
    --footerFontSize: 16px;
    --footerFontWeight: 400;
    --footerFontStyle: normal;
    --footerLineHeight: 1.2;
    --footerTextTransform: inherit;
    --headlineH1Color: #0d4a57;
    --headlineH1FontFamily: 'Quicksand', sans-serif;
    --headlineH1FontSize: 50px;
    --headlineH1FontWeight: 600;
    --headlineH1FontStyle: normal;
    --headlineH1LineHeight: 1.2;
    --headlineH1TextTransform: inherit;
    --headlineH1TextDecoration: inherit;
    --headlineH1LineVisible: block;
    --headlineH1LineBg: #d05165;
    --headlineH2Color: #0d4a57;
    --headlineH2FontFamily: 'Quicksand', sans-serif;
    --headlineH2FontSize: 40px;
    --headlineH2FontWeight: 600;
    --headlineH2FontStyle: normal;
    --headlineH2LineHeight: 1.2;
    --headlineH2TextTransform: inherit;
    --headlineH2TextDecoration: inherit;
    --subTitleH3Color: #d05165;
    --subTitleH3FontFamily: 'Quicksand', sans-serif;
    --subTitleH3FontSize: 24px;
    --subTitleH3FontWeight: 400;
    --subTitleH3FontStyle: normal;
    --subTitleH3LineHeight: 1.2;
    --subTitleH3TextTransform: inherit;
    --subTitleH3TextDecoration: inherit;
    --subTitleH4Color: #0d4a57;
    --subTitleH4FontFamily: 'Quicksand', sans-serif;
    --subTitleH4FontSize: 22px;
    --subTitleH4FontWeight: 600;
    --subTitleH4FontStyle: normal;
    --subTitleH4LineHeight: 1.2;
    --subTitleH4TextTransform: inherit;
    --subTitleH4TextDecoration: inherit;
    --bodyText1Color: #0d4a57;
    --bodyText1FontFamily: 'Quicksand', sans-serif;
    --bodyText1FontSize: 20px;
    --bodyText1FontWeight: 400;
    --bodyText1FontStyle: normal;
    --bodyText1LineHeight: 1.6;
    --bodyText1TextTransform: inherit;
    --bodyText1TextDecoration: inherit;
    --bodyText2Color: #0d4a57;
    --bodyText2FontFamily: 'Quicksand', sans-serif;
    --bodyText2FontSize: 18px;
    --bodyText2FontWeight: 400;
    --bodyText2FontStyle: normal;
    --bodyText2LineHeight: 1.6;
    --bodyText2TextTransform: inherit;
    --bodyText2TextDecoration: inherit;
    --bodyText3Color: #0d4a57;
    --bodyText3FontFamily: 'Quicksand', sans-serif;
    --bodyText3FontSize: 16px;
    --bodyText3FontWeight: 300;
    --bodyText3FontStyle: normal;
    --bodyText3LineHeight: 1.6;
    --bodyText3TextTransform: inherit;
    --bodyText3TextDecoration: inherit;
    --overline1Color: #0d4a57;
    --overline1FontFamily: 'Quicksand', sans-serif;
    --overline1FontSize: 16px;
    --overline1FontWeight: 600;
    --overline1FontStyle: normal;
    --overline1LineHeight: 1.2;
    --overline1TextTransform: inherit;
    --overline1TextDecoration: inherit;
    --overline2Color: #0d4a57;
    --overline2FontFamily: 'Quicksand', sans-serif;
    --overline2FontSize: 14px;
    --overline2FontWeight: 600;
    --overline2FontStyle: normal;
    --overline2LineHeight: 1.2;
    --overline2TextTransform: inherit;
    --overline2TextDecoration: inherit;
    --caption1Color: #0d4a57;
    --caption1FontFamily: 'Quicksand', sans-serif;
    --caption1FontSize: 18px;
    --caption1FontWeight: 600;
    --caption1FontStyle: normal;
    --caption1LineHeight: 1.2;
    --caption1TextTransform: inherit;
    --caption1TextDecoration: inherit;
    --caption2Color: #0d4a57;
    --caption2FontFamily: 'Quicksand', sans-serif;
    --caption2FontSize: 18px;
    --caption2FontWeight: 400;
    --caption2FontStyle: normal;
    --caption2LineHeight: 1.2;
    --caption2TextTransform: inherit;
    --caption2TextDecoration: line-through;
    --caption3Color: #0d4a57;
    --caption3FontFamily: 'Quicksand', sans-serif;
    --caption3FontSize: 12px;
    --caption3FontWeight: 400;
    --caption3FontStyle: normal;
    --caption3LineHeight: 1.2;
    --caption3TextTransform: inherit;
    --caption3TextDecoration: inherit;
    --fieldLabelColor: #0d4a57;
    --fieldLabelFontFamily: 'Quicksand', sans-serif;
    --fieldLabelFontSize: 16px;
    --fieldLabelFontWeight: 400;
    --fieldLabelFontStyle: normal;
    --fieldLabelLineHeight: 1.2;
    --fieldLabelTextTransform: inherit;
    --fieldLabelTextDecoration: inherit;
    --inputFieldColor: #000000;
    --inputFieldBg: #FFFFFF;
    --inputFieldBorderColor: #110B2F;
    --inputFieldFocusBorderColor: #110B2F;
    --inputFieldFontFamily: 'Quicksand', sans-serif;
    --inputFieldFontSize: 16px;
    --inputFieldFontWeight: 400;
    --inputFieldFontStyle: normal;
    --inputFieldLineHeight: 1.2;
    --inputFieldTextTransform: inherit;
    --inputFieldTextDecoration: inherit;
    --btnFontFamily: 'Quicksand', sans-serif;
    --btnFontSize: 16px;
    --btnFontWeight: 600;
    --btnFontStyle: normal;
    --btnTextTransform: uppercase;
    --btnTextDecoration: inherit;
    --btnBg: #d05165;
    --btnHoverBg: #d05165;
    --btnColor: #C2CCD5;
    --btnHoverColor: #C2CCD5;
    --btnBorderColor: #d05165;
    --btnHoverBorderColor: #d05165;
    --btnBorderRadius: 0px;
    --btnBorderWidth: 1px;
    --btnBorderStyle: solid;
    --btnPrimaryBg: #d05165;
    --btnPrimaryHoverBg: #d05165;
    --btnPrimaryColor: #FFFFFF;
    --btnPrimaryHoverColor: #FFFFFF;
    --btnPrimaryBorderColor: #d05165;
    --btnPrimaryHoverBorderColor: #d05165;
    --btnPrimaryDisabledBg: transparent;
    --btnPrimaryDisabledColor: #0d4a57;
    --btnSecondaryBg: #C2CCD5;
    --btnSecondaryHoverBg: #C2CCD5;
    --btnSecondaryColor: #FFFFFF;
    --btnSecondaryHoverColor: #FFFFFF;
    --btnSecondaryBorderColor: #C2CCD5;
    --btnSecondaryHoverBorderColor: #C2CCD5;
    --btnLinkColor: #d05165;
    --btnLinkHoverColor: #d05165;
    --btnLinkTextDecoration: underline;
    --btnLinkLabelIcon: "e91f";
    --imageBorderRadius: 0px;
    --gridItemBorderRadius: 0px;
    --accordionBg: #D2E4EE;
    --accordionColor: #0d4a57;
    --accordionBorderColor: #C2CCD5;
    --accordionHeadBg: #d05165;
    --accordionHeadColor: #110B2F;
    --miniBannerBg: #FEC2CA;
    --miniBannerBorderColor: #FEC2CA;
    --cardsBg: #C2CCD5;
    --cardsBorderColor: #C2CCD5;
    --tabBg: #C2CCD5;
    --tabColor: #0d4a57;
    --tabHoverBg: #d05165;
    --tabHoverColor: #110B2F;
    --tabActiveBg: #d05165;
    --tabActiveColor: #0d4a57;
    --tabFontFamily: 'Quicksand', sans-serif;
    --tabFontSize: 16px;
    --tabFontWeight: 400;
    --tabActiveFontWeight: 400;
    --tabFontStyle: normal;
    --tabTextTransform: inherit;
    --tabTextDecoration: inherit;
    --overlayBg: rgba(210, 228, 238, 0.1);
    --overlayColor: #d05165;
    --imageBackdropFilter: 0px;
    --sliderNavColor: #FFFFFF;
    --sliderNavBg: #d05165;
    --sliderIndicatorsBg: #d05165;
    --sliderIndicatorsColor: #C2CCD5;
    --widgetTintBackgroundColor: #a6c9dd;
    --storeBodyBg: #FFFFFF;
    --storeBodyColor: #000000;
    --storeBtnPrimaryBg: #000000;
    --storeBtnPrimaryHoverBg: #000000;
    --storeBtnPrimaryColor: #FFFFFF;
    --storeBtnPrimaryHoverColor: #FFFFFF;
    --storeBtnPrimaryBorderColor: #000000;
    --storeBtnPrimaryHoverBorderColor: #000000;
    --storeBtnPrimaryDisabledBg: #C2CCD5;
    --storeBtnPrimaryDisabledColor: #0d4a57;
    --storeBtnSecondaryBg: #FFFFFF;
    --storeBtnSecondaryHoverBg: #FFFFFF;
    --storeBtnSecondaryColor: #000000;
    --storeBtnSecondaryHoverColor: #000000;
    --storeBtnSecondaryBorderColor: #000000;
    --storeBtnSecondaryHoverBorderColor: #000000;
    --storeBtnSecondaryDisabledBg: #FFFFFF;
    --storeBtnSecondaryDisabledColor: #0d4a57;
    --blogBodyBg: #FFFFFF;
    --blogBodyColor: #000000;
    --blogBtnPrimaryBg: #000000;
    --blogBtnPrimaryHoverBg: #000000;
    --blogBtnPrimaryColor: #FFFFFF;
    --blogBtnPrimaryHoverColor: #FFFFFF;
    --blogBtnPrimaryBorderColor: #000000;
    --blogBtnPrimaryHoverBorderColor: #000000;
    --blogBtnPrimaryDisabledBg: #C2CCD5;
    --blogBtnPrimaryDisabledColor: #0d4a57;
    --blogBtnSecondaryBg: #FFFFFF;
    --blogBtnSecondaryHoverBg: #FFFFFF;
    --blogBtnSecondaryColor: #000000;
    --blogBtnSecondaryHoverColor: #000000;
    --blogBtnSecondaryBorderColor: #000000;
    --blogBtnSecondaryHoverBorderColor: #000000;
    --blogBtnSecondaryDisabledBg: #FFFFFF;
    --blogBtnSecondaryDisabledColor: #0d4a57;
    --headerBorderRadius: 0px;
    --headerPaddingTop: 14px;
    --headerPaddingBottom: 14px;
    --headerShadowX: 0px;
    --headerShadowY: 0px;
    --headerShadowBlur: 0px;
    --headerShadowColor: transparent;
    --headerBorderTop: 0px;
    --headerBorderBottom: 0px;
    --headerBorderLeft: 0px;
    --headerBorderRight: 0px;
    --headerBorderColor: transparent;
    --tableRowBg: #D2E4EE;
    --tableOddRowBg: #D2E4EE;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
