.banner-container{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #D2E4EE;
    padding-bottom: 50px;
}

.banner-image{
    width: 100%;
    height: 500px;
    background:  url('../../../../../public/images/home-banner.png') no-repeat center center;
    background-size: cover;
}

span{
    color: #0d4a57
}

.banner-card{
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
    z-index: 10;
    background-color: #C2CCD5;
    margin-top: -250px;
    max-width: 1110px;
    width: 90%;
    z-index: 10;
    position: relative;

}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    gap: 15px;
    padding: 20px;
}

.cerena-title{
    color:#d05165
}

.cerena-desc{
    font-size: clamp(1.5rem, 5vw, 3.1rem);
    width: 100%;
    line-height: 1.2;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:50%;
    align-items: center;
    font-size: clamp(1rem, 2vw, 1.3rem);
    padding: 20px;
    text-align: center;
}

.about button{
    background-color: #d05165;
    border: none;
    color: white;
    padding: 12px 30px;
    font-size: 1.1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.2;
}

.about button:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .banner-image {
        height: 300px;
    }
    
    .banner-card {
        margin-top: -50px; /* Diminui a sobreposição no celular */
        padding: 10px;
    }
    
    .title, .about {
        padding: 15px;
    }
}

.title, .about{
    animation: fadeInUp 1.2s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}

@keyframes fadeInUp {
    from{
        opacity: 0;
        transform: translateY(20%) ;
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}